.btn {
  position: relative;
  top: 0;
  left: 0;
  width: 80%;
  background: $accentColor;
  padding: 10px 0;
  border-radius: 10px;
  border: none;
  box-shadow: var(--text-shadow) 1px 1px,var(--text-shadow) 2px 2px,var(--text-shadow) 3px 3px,var(--text-shadow) 4px 4px,var(--text-shadow) 5px 5px,var(--text-shadow) 6px 6px,var(--text-shadow) 7px 7px,var(--text-shadow) 8px 8px,var(--text-shadow) 9px 9px,var(--text-shadow) 10px 10px,var(--text-shadow) 11px 11px;
  text-align: center;
  text-transform: uppercase;
  color: #FFF;
  user-select: none;

  &:active {
    top: 6px;
    left: 6px;
    box-shadow: 5px 5px var(--text-shadow);
  }

  &:hover {
      cursor: pointer;
      background: lighten($accentColor, 10%);
  }
}

.splashPageButtons  {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  width: 180px;

  & button:nth-child(2) {
    margin: 1.5rem 0;
  }
}

.btnGamePage {
  box-shadow: var(--text-shadow) -1px 1px,
              var(--text-shadow) -2px 2px,
              var(--text-shadow) -3px 3px,
              var(--text-shadow) -4px 4px,
              var(--text-shadow) -5px 5px;
  margin-top: 1.5rem;

  &:active {
    top: 3px;
    left: -3px;
    box-shadow: -2px 2px var(--text-shadow);
  }
}