form {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    font-family: $bodyFont;
    @include fontSize(2);

    & label {
        display:none;
    }
}
