.gamePage {
  width: 100%;
  height: 100%;
  border: 1px solid tomato;
}

.header {
  position: absolute;
  height: $wrapper-padding-mobile;
  width: 100%;

  & ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style-type: none;

    & li {
      display: flex;
      flex-direction: row;
      width: 33%;

      &:last-child {
        justify-content: flex-end;
        align-items: flex-start;
        
        & button {
          font-weight: bold;
          background: none;
          border: none;
        }
      }
    }
  }
}

.timer {
  margin: 0;
  font-weight: bold;
}

.titleLogo {
    @include headerFont(1.2rem, $gtsColor);
    text-align: center;
    text-shadow: var(--text-shadow) 1px 1px,var(--text-shadow) -0px 0px,var(--text-shadow) -1px 1px,var(--text-shadow) -2px 2px,var(--text-shadow) -3px 3px,var(--text-shadow) -4px 4px,var(--text-shadow) -5px 5px,var(--text-shadow) -6px 6px,var(--text-shadow) -7px 7px;
    margin: 0 auto;

    & span {
        display: block;
    }
}

.gameContainer {
  height: 80%;
  
  & .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
  }
}

.lyrics {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: $gtsColor;
  box-shadow: var(--text-shadow) -1px 1px,
              var(--text-shadow) -2px 2px,
              var(--text-shadow) -3px 3px,
              var(--text-shadow) -4px 4px,
              var(--text-shadow) -5px 5px;
  border-radius: 10px;
  text-align: center;
  margin: auto 0;
  padding: 10px;
  width: 80%;
  height: 180px;

  & p {
    margin: 0.5em;
  }
}

#status {
  height: $primary-text;
  margin-top: 10px;
  & p {
    margin: 0;
    color: red;
  }
}


.action {
  width: 100%;
  margin: auto 0;  

  & form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: $bodyFont;
    
    & input {
      box-shadow: var(--text-shadow) -1px 1px,
                  var(--text-shadow) -2px 2px,
                  var(--text-shadow) -3px 3px,
                  var(--text-shadow) -4px 4px,
                  var(--text-shadow) -5px 5px;
      width: $button-width-mobile;
      margin-top: 1.5rem;
      padding: 10px;
      border-radius: 10px;
      border: none;
    }

    & label {
      display:none;
    }
  }
}


.submitters {
  display: flex;
  justify-content: space-between;
  width: 80%;

  & .btnGamePage {
    width: 45%;
  }
}