html {
  font-size: 62.5%;
}

body {
  background: $backgroundColor;
  font-size: $primary-text;
  font-family: $bodyFont;
}

.wrapper {
  height: 100vh;
  min-height: 480px;
  width: 100%;
  min-width: 320px;
  max-width: 1280px;
  margin: 0 auto;
  padding: $wrapper-padding-mobile 0;

  &--splash {
    padding: $wrapper-padding-mobile;
  }
}
