// .splashPage {
//     border: 1px solid red;
// }

:root {
    --text-shadow: #0E1B23;
}

h1 {
    @include headerFont($guessThatGame-text, $headerColor);
    margin-bottom: 20rem;
}

h1 span {
    display: block;
}
