@media (min-width: 360px) and (min-height: 600px) { /* smartphones, Android phones, landscape iPhone */ 
  body {
    font-size: $primary-text-tablet;
  }

  .title {
    font-size: 8rem;
  }
}


@media (min-width: 600px) { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ 
  .splashPageTitle .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .splashPageButtons {
    align-self: flex-end;
  }

}

@media (min-width: 660px) and (min-height: 600px) {
  .splashPageTitle {
    flex-direction: row;
  }
}

@media (min-width:801px) { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }