// color variables
$backgroundColor: #EFC001;
$headerColor: #E0E1E5;
$pink-hot: #F2385A;

//font variables
$headFont: 'Fredoka One', cursive;
$bodyFont: 'Open Sans', sans-serif;

// Font-sizes
$primary-text:2rem;
$text-small: 2.4rem;
$text-medium:3.2rem;
$text-large: 4.2rem;
$guessThatGame-text: 8rem;