// color variables
$backgroundColor: #efc001;
$accentColor: #3498db;
$gtsColor: #e0e1e5;

:root {
  --text-shadow: #0e1b23;
}

// Font variables
$headFont: "Fredoka One", cursive;
$bodyFont: "Open Sans", sans-serif;

// Font-sizes
$button-text: 1rem;
$primary-text: 1.4rem;
$primary-text-tablet: 1.8rem;
$text-small: 2.4rem;
$text-medium: 3.2rem;
$text-large: 4.2rem;
$guessThatGame-text: 8rem;

// Wrapper Sizes
$wrapper-padding-mobile: 50px;

// Buttons
$button-width-mobile: 80%;
