article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:root {
  --text-shadow: #0E1B23; }

html {
  font-size: 62.5%; }

body {
  background: #EFC001;
  font-size: 1.4rem;
  font-family: "Open Sans", sans-serif; }

.wrapper {
  height: 100vh;
  min-height: 480px;
  width: 100%;
  min-width: 320px;
  max-width: 1280px;
  margin: 0 auto;
  padding: 50px 0; }
  .wrapper--splash {
    padding: 50px; }

.splashPageTitle {
  height: 100vh; }
  .splashPageTitle .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    height: 100%; }

.title {
  -webkit-transform: uppercase;
  -ms-transform: uppercase;
  transform: uppercase;
  font-family: "Fredoka One", cursive;
  text-transform: uppercase;
  font-size: 8rem;
  color: #E0E1E5;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  letter-spacing: 1px;
  text-shadow: var(--text-shadow) 1px 1px, var(--text-shadow) 0px 0px, var(--text-shadow) -1px 1px, var(--text-shadow) -2px 2px, var(--text-shadow) -3px 3px, var(--text-shadow) -4px 4px, var(--text-shadow) -5px 5px, var(--text-shadow) -6px 6px, var(--text-shadow) -7px 7px, var(--text-shadow) -8px 8px, var(--text-shadow) -9px 9px, var(--text-shadow) -10px 10px, var(--text-shadow) -11px 11px, var(--text-shadow) -12px 12px, var(--text-shadow) -13px 13px, var(--text-shadow) -14px 14px, var(--text-shadow) -15px 15px, var(--text-shadow) -16px 16px, var(--text-shadow) -17px 17px, var(--text-shadow) -18px 18px, var(--text-shadow) -19px 19px, var(--text-shadow) -20px 20px, var(--text-shadow) -21px 21px, var(--text-shadow) -22px 22px, var(--text-shadow) -23px 23px, var(--text-shadow) -24px 24px, var(--text-shadow) -25px 25px, var(--text-shadow) -26px 26px, var(--text-shadow) -27px 27px, var(--text-shadow) -28px 28px, var(--text-shadow) -29px 29px, var(--text-shadow) -30px 30px, var(--text-shadow) -31px 31px, var(--text-shadow) -32px 32px, var(--text-shadow) -33px 33px, var(--text-shadow) -34px 34px, var(--text-shadow) -35px 35px, var(--text-shadow) -36px 36px, var(--text-shadow) -37px 37px, var(--text-shadow) -38px 38px, var(--text-shadow) -39px 39px, var(--text-shadow) -40px 40px, var(--text-shadow) -41px 41px, var(--text-shadow) -42px 42px, var(--text-shadow) -43px 43px, var(--text-shadow) -44px 44px, var(--text-shadow) -45px 45px, var(--text-shadow) -46px 46px, var(--text-shadow) -47px 47px, var(--text-shadow) -48px 48px, var(--text-shadow) -49px 49px, var(--text-shadow) -50px 50px, var(--text-shadow) -51px 51px, var(--text-shadow) -52px 52px, var(--text-shadow) -53px 53px, var(--text-shadow) -54px 54px, var(--text-shadow) -55px 55px, var(--text-shadow) -56px 56px, var(--text-shadow) -57px 57px, var(--text-shadow) -58px 58px, var(--text-shadow) -59px 59px, var(--text-shadow) -60px 60px, var(--text-shadow) -61px 61px, var(--text-shadow) -62px 62px, var(--text-shadow) -63px 63px, var(--text-shadow) -64px 64px, var(--text-shadow) -65px 65px, var(--text-shadow) -66px 66px, var(--text-shadow) -67px 67px, var(--text-shadow) -68px 68px, var(--text-shadow) -69px 69px, var(--text-shadow) -70px 70px, var(--text-shadow) -71px 71px, var(--text-shadow) -72px 72px, var(--text-shadow) -73px 73px, var(--text-shadow) -74px 74px, var(--text-shadow) -75px 75px, var(--text-shadow) -76px 76px, var(--text-shadow) -77px 77px, var(--text-shadow) -78px 78px, var(--text-shadow) -79px 79px, var(--text-shadow) -80px 80px, var(--text-shadow) -81px 81px, var(--text-shadow) -82px 82px, var(--text-shadow) -83px 83px, var(--text-shadow) -84px 84px, var(--text-shadow) -85px 85px, var(--text-shadow) -86px 86px, var(--text-shadow) -87px 87px, var(--text-shadow) -88px 88px, var(--text-shadow) -89px 89px, var(--text-shadow) -90px 90px, var(--text-shadow) -91px 91px, var(--text-shadow) -92px 92px, var(--text-shadow) -93px 93px, var(--text-shadow) -94px 94px, var(--text-shadow) -95px 95px, var(--text-shadow) -96px 96px, var(--text-shadow) -97px 97px, var(--text-shadow) -98px 98px, var(--text-shadow) -99px 99px, var(--text-shadow) -100px 100px, var(--text-shadow) -101px 101px, var(--text-shadow) -102px 102px, var(--text-shadow) -103px 103px, var(--text-shadow) -104px 104px, var(--text-shadow) -105px 105px, var(--text-shadow) -106px 106px, var(--text-shadow) -107px 107px, var(--text-shadow) -108px 108px, var(--text-shadow) -109px 109px, var(--text-shadow) -110px 110px, var(--text-shadow) -111px 111px, var(--text-shadow) -112px 112px, var(--text-shadow) -113px 113px, var(--text-shadow) -114px 114px, var(--text-shadow) -115px 115px, var(--text-shadow) -116px 116px, var(--text-shadow) -117px 117px, var(--text-shadow) -118px 118px, var(--text-shadow) -119px 119px, var(--text-shadow) -120px 120px, var(--text-shadow) -121px 121px, var(--text-shadow) -122px 122px, var(--text-shadow) -123px 123px, var(--text-shadow) -124px 124px, var(--text-shadow) -125px 125px, var(--text-shadow) -126px 126px, var(--text-shadow) -127px 127px, var(--text-shadow) -128px 128px, var(--text-shadow) -129px 129px, var(--text-shadow) -130px 130px, var(--text-shadow) -131px 131px, var(--text-shadow) -132px 132px, var(--text-shadow) -133px 133px, var(--text-shadow) -134px 134px, var(--text-shadow) -135px 135px, var(--text-shadow) -136px 136px, var(--text-shadow) -137px 137px, var(--text-shadow) -138px 138px, var(--text-shadow) -139px 139px, var(--text-shadow) -140px 140px, var(--text-shadow) -141px 141px, var(--text-shadow) -142px 142px, var(--text-shadow) -143px 143px, var(--text-shadow) -144px 144px, var(--text-shadow) -145px 145px, var(--text-shadow) -146px 146px, var(--text-shadow) -147px 147px, var(--text-shadow) -148px 148px, var(--text-shadow) -149px 149px;
  margin: 0;
  font-size: 6rem; }

h1 span {
  display: block; }

.particles-js {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1; }

.splashPopup {
  position: absolute;
  top: 0;
  left: 0; }
  .splashPopup .overlay {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100vw;
    min-width: 320px;
    height: 100vh;
    min-height: 480px;
    background: rgba(0, 0, 0, 0.5);
    padding: 10% 20px; }
    .splashPopup .overlay .popup {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      position: relative;
      max-width: 600px;
      padding: 20px;
      background: whitesmoke;
      border-radius: 10px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none; }
      .splashPopup .overlay .popup-title {
        margin: 0; }
      .splashPopup .overlay .popup-entries {
        width: 100%;
        margin: auto 0; }
      .splashPopup .overlay .popup .instructions p {
        margin: 2rem 0; }
      .splashPopup .overlay .popup .difficulty {
        width: 100%; }
        .splashPopup .overlay .popup .difficulty .difficultySelection {
          margin-top: 2rem; }
          .splashPopup .overlay .popup .difficulty .difficultySelection label {
            margin-right: 20px; }

.exitPopup {
  position: absolute;
  top: -1em;
  right: -1em;
  width: 2em;
  height: 2em;
  line-height: 1em;
  border: 1px solid dimgray;
  border-radius: 50%;
  font-weight: bold; }

.gamePage {
  width: 100%;
  height: 100%; }

.header {
  position: absolute;
  height: 50px;
  width: 100%; }
  .header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style-type: none; }
    .header ul li {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      width: 33%; }
      .header ul li:last-child {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start; }
        .header ul li:last-child button {
          font-weight: bold;
          background: none;
          border: none; }

.timer {
  margin: 0;
  font-weight: bold; }

.titleLogo {
  -webkit-transform: uppercase;
  -ms-transform: uppercase;
  transform: uppercase;
  font-family: "Fredoka One", cursive;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: #E0E1E5;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  letter-spacing: 1px;
  text-shadow: var(--text-shadow) 1px 1px, var(--text-shadow) 0px 0px, var(--text-shadow) -1px 1px, var(--text-shadow) -2px 2px, var(--text-shadow) -3px 3px, var(--text-shadow) -4px 4px, var(--text-shadow) -5px 5px, var(--text-shadow) -6px 6px, var(--text-shadow) -7px 7px, var(--text-shadow) -8px 8px, var(--text-shadow) -9px 9px, var(--text-shadow) -10px 10px, var(--text-shadow) -11px 11px, var(--text-shadow) -12px 12px, var(--text-shadow) -13px 13px, var(--text-shadow) -14px 14px, var(--text-shadow) -15px 15px, var(--text-shadow) -16px 16px, var(--text-shadow) -17px 17px, var(--text-shadow) -18px 18px, var(--text-shadow) -19px 19px, var(--text-shadow) -20px 20px, var(--text-shadow) -21px 21px, var(--text-shadow) -22px 22px, var(--text-shadow) -23px 23px, var(--text-shadow) -24px 24px, var(--text-shadow) -25px 25px, var(--text-shadow) -26px 26px, var(--text-shadow) -27px 27px, var(--text-shadow) -28px 28px, var(--text-shadow) -29px 29px, var(--text-shadow) -30px 30px, var(--text-shadow) -31px 31px, var(--text-shadow) -32px 32px, var(--text-shadow) -33px 33px, var(--text-shadow) -34px 34px, var(--text-shadow) -35px 35px, var(--text-shadow) -36px 36px, var(--text-shadow) -37px 37px, var(--text-shadow) -38px 38px, var(--text-shadow) -39px 39px, var(--text-shadow) -40px 40px, var(--text-shadow) -41px 41px, var(--text-shadow) -42px 42px, var(--text-shadow) -43px 43px, var(--text-shadow) -44px 44px, var(--text-shadow) -45px 45px, var(--text-shadow) -46px 46px, var(--text-shadow) -47px 47px, var(--text-shadow) -48px 48px, var(--text-shadow) -49px 49px, var(--text-shadow) -50px 50px, var(--text-shadow) -51px 51px, var(--text-shadow) -52px 52px, var(--text-shadow) -53px 53px, var(--text-shadow) -54px 54px, var(--text-shadow) -55px 55px, var(--text-shadow) -56px 56px, var(--text-shadow) -57px 57px, var(--text-shadow) -58px 58px, var(--text-shadow) -59px 59px, var(--text-shadow) -60px 60px, var(--text-shadow) -61px 61px, var(--text-shadow) -62px 62px, var(--text-shadow) -63px 63px, var(--text-shadow) -64px 64px, var(--text-shadow) -65px 65px, var(--text-shadow) -66px 66px, var(--text-shadow) -67px 67px, var(--text-shadow) -68px 68px, var(--text-shadow) -69px 69px, var(--text-shadow) -70px 70px, var(--text-shadow) -71px 71px, var(--text-shadow) -72px 72px, var(--text-shadow) -73px 73px, var(--text-shadow) -74px 74px, var(--text-shadow) -75px 75px, var(--text-shadow) -76px 76px, var(--text-shadow) -77px 77px, var(--text-shadow) -78px 78px, var(--text-shadow) -79px 79px, var(--text-shadow) -80px 80px, var(--text-shadow) -81px 81px, var(--text-shadow) -82px 82px, var(--text-shadow) -83px 83px, var(--text-shadow) -84px 84px, var(--text-shadow) -85px 85px, var(--text-shadow) -86px 86px, var(--text-shadow) -87px 87px, var(--text-shadow) -88px 88px, var(--text-shadow) -89px 89px, var(--text-shadow) -90px 90px, var(--text-shadow) -91px 91px, var(--text-shadow) -92px 92px, var(--text-shadow) -93px 93px, var(--text-shadow) -94px 94px, var(--text-shadow) -95px 95px, var(--text-shadow) -96px 96px, var(--text-shadow) -97px 97px, var(--text-shadow) -98px 98px, var(--text-shadow) -99px 99px, var(--text-shadow) -100px 100px, var(--text-shadow) -101px 101px, var(--text-shadow) -102px 102px, var(--text-shadow) -103px 103px, var(--text-shadow) -104px 104px, var(--text-shadow) -105px 105px, var(--text-shadow) -106px 106px, var(--text-shadow) -107px 107px, var(--text-shadow) -108px 108px, var(--text-shadow) -109px 109px, var(--text-shadow) -110px 110px, var(--text-shadow) -111px 111px, var(--text-shadow) -112px 112px, var(--text-shadow) -113px 113px, var(--text-shadow) -114px 114px, var(--text-shadow) -115px 115px, var(--text-shadow) -116px 116px, var(--text-shadow) -117px 117px, var(--text-shadow) -118px 118px, var(--text-shadow) -119px 119px, var(--text-shadow) -120px 120px, var(--text-shadow) -121px 121px, var(--text-shadow) -122px 122px, var(--text-shadow) -123px 123px, var(--text-shadow) -124px 124px, var(--text-shadow) -125px 125px, var(--text-shadow) -126px 126px, var(--text-shadow) -127px 127px, var(--text-shadow) -128px 128px, var(--text-shadow) -129px 129px, var(--text-shadow) -130px 130px, var(--text-shadow) -131px 131px, var(--text-shadow) -132px 132px, var(--text-shadow) -133px 133px, var(--text-shadow) -134px 134px, var(--text-shadow) -135px 135px, var(--text-shadow) -136px 136px, var(--text-shadow) -137px 137px, var(--text-shadow) -138px 138px, var(--text-shadow) -139px 139px, var(--text-shadow) -140px 140px, var(--text-shadow) -141px 141px, var(--text-shadow) -142px 142px, var(--text-shadow) -143px 143px, var(--text-shadow) -144px 144px, var(--text-shadow) -145px 145px, var(--text-shadow) -146px 146px, var(--text-shadow) -147px 147px, var(--text-shadow) -148px 148px, var(--text-shadow) -149px 149px;
  text-align: center;
  text-shadow: var(--text-shadow) 1px 1px, var(--text-shadow) 0px 0px, var(--text-shadow) -1px 1px, var(--text-shadow) -2px 2px, var(--text-shadow) -3px 3px, var(--text-shadow) -4px 4px, var(--text-shadow) -5px 5px, var(--text-shadow) -6px 6px, var(--text-shadow) -7px 7px;
  margin: 0 auto; }
  .titleLogo span {
    display: block; }

.gameContainer {
  height: 80%; }
  .gameContainer .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-bottom: 10px; }

.lyrics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #E0E1E5;
  -webkit-box-shadow: var(--text-shadow) -1px 1px, var(--text-shadow) -2px 2px, var(--text-shadow) -3px 3px, var(--text-shadow) -4px 4px, var(--text-shadow) -5px 5px;
  box-shadow: var(--text-shadow) -1px 1px, var(--text-shadow) -2px 2px, var(--text-shadow) -3px 3px, var(--text-shadow) -4px 4px, var(--text-shadow) -5px 5px;
  border-radius: 10px;
  text-align: center;
  margin: auto 0;
  padding: 10px;
  width: 80%;
  height: 180px; }
  .lyrics p {
    margin: 0.5em; }

.status {
  height: 1.4rem;
  margin-top: 10px; }
  .status p {
    margin: 0; }
    .status p.correct {
      color: green; }
    .status p.incorrect {
      color: red; }

.action {
  width: 100%;
  margin: auto 0; }
  .action form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: "Open Sans", sans-serif; }
    .action form input {
      -webkit-box-shadow: var(--text-shadow) -1px 1px, var(--text-shadow) -2px 2px, var(--text-shadow) -3px 3px, var(--text-shadow) -4px 4px, var(--text-shadow) -5px 5px;
      box-shadow: var(--text-shadow) -1px 1px, var(--text-shadow) -2px 2px, var(--text-shadow) -3px 3px, var(--text-shadow) -4px 4px, var(--text-shadow) -5px 5px;
      width: 80%;
      margin-top: 1.5rem;
      padding: 10px;
      border-radius: 10px;
      border: none; }
    .action form label {
      display: none; }

.submitters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 80%; }
  .submitters .btnGamePage {
    width: 45%; }

.btn {
  position: relative;
  top: 0;
  left: 0;
  width: 80%;
  background: #3498db;
  padding: 10px 0;
  border-radius: 10px;
  border: none;
  -webkit-box-shadow: var(--text-shadow) 1px 1px, var(--text-shadow) 2px 2px, var(--text-shadow) 3px 3px, var(--text-shadow) 4px 4px, var(--text-shadow) 5px 5px, var(--text-shadow) 6px 6px, var(--text-shadow) 7px 7px, var(--text-shadow) 8px 8px, var(--text-shadow) 9px 9px, var(--text-shadow) 10px 10px, var(--text-shadow) 11px 11px;
  box-shadow: var(--text-shadow) 1px 1px, var(--text-shadow) 2px 2px, var(--text-shadow) 3px 3px, var(--text-shadow) 4px 4px, var(--text-shadow) 5px 5px, var(--text-shadow) 6px 6px, var(--text-shadow) 7px 7px, var(--text-shadow) 8px 8px, var(--text-shadow) 9px 9px, var(--text-shadow) 10px 10px, var(--text-shadow) 11px 11px;
  text-align: center;
  text-transform: uppercase;
  color: #FFF;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .btn:active {
    top: 6px;
    left: 6px;
    -webkit-box-shadow: 5px 5px var(--text-shadow);
    box-shadow: 5px 5px var(--text-shadow); }
  .btn:hover {
    cursor: pointer;
    background: #5faee3; }

.splashPageButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-item-align: center;
  align-self: center;
  width: 180px; }
  .splashPageButtons button:nth-child(2) {
    margin: 1.5rem 0; }

.btnGamePage {
  -webkit-box-shadow: var(--text-shadow) -1px 1px, var(--text-shadow) -2px 2px, var(--text-shadow) -3px 3px, var(--text-shadow) -4px 4px, var(--text-shadow) -5px 5px;
  box-shadow: var(--text-shadow) -1px 1px, var(--text-shadow) -2px 2px, var(--text-shadow) -3px 3px, var(--text-shadow) -4px 4px, var(--text-shadow) -5px 5px;
  margin-top: 1.5rem; }
  .btnGamePage:active {
    top: 3px;
    left: -3px;
    -webkit-box-shadow: -2px 2px var(--text-shadow);
    box-shadow: -2px 2px var(--text-shadow); }

@media (min-width: 360px) and (min-height: 600px) {
  /* smartphones, Android phones, landscape iPhone */
  body {
    font-size: 1.8rem; }
  .title {
    font-size: 8rem; } }

@media (min-width: 600px) {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  .splashPageTitle .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .title {
    font-size: 10rem; }
  .splashPageButtons {
    -ms-flex-item-align: end;
    align-self: flex-end; }
  .wrapper {
    height: 80vh; }
  .lyrics {
    margin: 10rem 0 1rem 0; }
  .header {
    font-size: 3.2rem; }
    .header .titleLogo {
      font-size: 3.2rem; } }

@media (min-width: 801px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */ }

@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */ }

@media (min-width: 1281px) {
  /* hi-res laptops and desktops */ }

.hide {
  display: none; }
